In [31]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('db.sqlite3')
# List all tables
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables_df = pd.read_sql_query(query, conn)
print(tables_df)

                          name
0            django_migrations
1              sqlite_sequence
2       auth_group_permissions
3             auth_user_groups
4   auth_user_user_permissions
5             django_admin_log
6          django_content_type
7              auth_permission
8                   auth_group
9                    auth_user
10              myapp_todoitem
11              django_session

In [35]:
# Close onnection
conn.close()

In [36]:
# myapp_todoitem, auth_user
task = "myapp_todoitem"
query = "SELECT * FROM " + task;
df = pd.read_sql_query(query, conn)
df.head(5)

ProgrammingError: Cannot operate on a closed database.